<div class="card">
  <h1 class="h1">Ingrese su email</h1>
  <div class="container">
    <form (ngSubmit)="resetPass()" [formGroup]="cambiarPasswordForm">
      <div class="form">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="form">
        <button class="button" type="button" (click)="resetPass()">
          Cambiar Contraseña
        </button>
      </div>
      <div class="form login-link">
        <a routerLink="/Login" style="cursor: pointer;">Volver al Login...</a>
      </div>
      <p class="mensaje">{{ mensaje }}</p>
    </form>
  </div>
</div>

