<div class="card">
  <h1 class="h1">Restablecer contraseña</h1>
  <img src="https://www.singulart.com/images/artworks/v2/cropped/31009/main/zoom/2096742_93b595812a1d70319f9783f33a421564.jpeg" alt="Logo" class="logo-img" />
  <div class="container">
    <form (ngSubmit)="resetPass()" [formGroup]="cambiarPasswordForm">
      <div class="form">
        <input type="email" class="form-control" placeholder="Ingrese su email" formControlName="email"/>
      </div>
      <div class="form">
        <button class="button" type="button" (click)="resetPass()">
          Cambiar Contraseña
        </button>
      </div>
      <div class="form login-link">
        <a href=" " style="cursor: pointer;">Volver al Login...</a>
      </div>
      <p class="mensaje">{{ mensaje }}</p>
    </form>
  </div>
</div>

