<body>
    
    <section class="banner">
        <h1>Explora el Arte Único</h1>
        <p>Descubre piezas exclusivas de artistas talentosos.</p>
    </section>
    
    <section class="productos">
        <h2>Destacados</h2>
        <br>
        <div class="grid">
            <div class="producto">
                <img src="assets/pinturabstracta.jpg" alt="Arte 1">
                <h3>Pintura Abstracta</h3>
                <p>$150.000</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="producto">
                <img src="assets/retratoModerno.jpg" alt="Arte 2">
                <h3>Retrato Moderno</h3>
                <p>$200.000</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="producto">
                <img src="assets/paisajeColorido.jpg" alt="Arte 3">
                <h3>Paisaje Colorido</h3>
                <p>$180.000</p>
                <a href="#" class="btn">Comprar</a>
            </div>
        </div>
    </section>
</body>
