<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="">
      <div class="container">
        <div class="logo">
          <h1>Login</h1>
          <img src="src\img\Logo-Artemiz.jpeg" alt="">
        </div>

        <div class="email-container">
          <label for="email">Correo electronico</label>
          <input type="text" id="email" name="email">
        </div>

        <div class="password-container">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password">
        </div>

        <div class="button">
          <button type="button">Iniciar sesión</button>
        </div>

        <p><a class="registro">No tienes cuenta registrate aquí!</a></p>

      </div>
    </form>
</body>
</html>