<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemiz</title>
</head>
<body>
    
    <form (ngSubmit)="register()">
      <div class="container">
          <h1 class="h1">Registrate</h1>
          
          <div class="name">
              <input type="text" id="name" placeholder="Nombre" [(ngModel)]="name" name="name" required="">
          </div>
    
          <div class="LastName">
              <input type="text" id="LastName" placeholder="Apellido" [(ngModel)]="lastName" name="lastName" required="">
          </div>
    
          <div class="email">
              <input type="email" id="email" placeholder="Correo electronico" [(ngModel)]="email" name="email" required="">
          </div>
    
          <div class="password">
              <input type="password" id="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required="">
          </div>
    
          <div class="password-2">
              <input type="password" id="password-2" placeholder="Confirmar Contraseña" [(ngModel)]="confirmPassword" name="confirmPassword" required="">
          </div>

          <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

          <button  class="button" type="submit">Registrate</button>
    
          <p class="login-link">Ya tienes cuenta, <a href="">¡Ingresa aqui!</a></p>
      </div>
    </form>

</body>
</html>
